footer {
  color: white;
}

button {
  border-radius: 50px 50px 50px 50px;
  height: 60px;
  width: 320px;
  background-color: #1a1a1a;
  color: white;
  font-size: 700;
  text-align: center;
}

button:hover {
  opacity: 90%;
  -webkit-box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 600px;
  width: 100%;
}
.hero__text {
  margin-top: 10rem;
  margin-bottom: 2rem;
  text-align: center;
}
.hero__text h2 {
  font-size: 90px;
  letter-spacing: -2px;
  color: black;
}
.hero__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__search {
  margin: 0;
  width: 40%;
  height: 100%;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}
.hero__search .search {
  margin-top: 20px;
  border-radius: 20px;
  border: 3px solid black;
  text-align: center;
  height: 30px;
}
.hero__search .search:focus {
  outline: none;
}
.hero__search .submit {
  margin: 20px auto;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  background-color: black;
  color: white;
  cursor: pointer;
  -ms-flex-item-align: center;
      align-self: center;
}
.hero__search .submit:hover {
  opacity: 90%;
  -webkit-box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
          box-shadow: 0 0 30px rgba(33, 33, 33, 0.2);
  cursor: pointer;
}

.maincontainer__results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3rem;
  border-radius: 1px solid black;
}
.maincontainer__results__item {
  width: 11%;
  height: 250px;
  margin-bottom: 2rem;
  padding: 1rem;
}
.maincontainer__results__item img {
  width: 100%;
  height: 60%;
  -o-object-fit: contain;
     object-fit: contain;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: rgba(15, 53, 124, 0.74);
  border-top: 6px solid rgba(15, 53, 124, 0.74);
  border-bottom: 8px solid rgba(15, 53, 124, 0.74);
}
.maincontainer__results__item hr {
  width: 60%;
  margin: 7px auto;
}
.maincontainer__results__item h1 {
  text-align: center;
  font-size: 24px;
}
.maincontainer__results__item p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 2rem;
}

.arrowcontainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.arrowcontainer__icon {
  height: 100px;
  width: 150px;
  margin: 3px auto;
  border-radius: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 100px;
  border: 2px solid #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(29, 103, 240, 0.534)), color-stop(50%), color-stop(50%, #ffffff));
  background-image: linear-gradient(to bottom, rgba(29, 103, 240, 0.534), 50%, #ffffff 50%);
  background-size: 100% 200%;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 1s;
  transition: all 1s;
}
.arrowcontainer__icon:hover {
  background-position: 0 -100%;
  color: rgba(29, 103, 240, 0.534);
}

.editor {
  background-color: rgba(29, 103, 240, 0.534);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 88vh;
  width: 100%;
}
.editor__navbar {
  background-color: rgba(15, 53, 124, 0.74);
}
.editor__navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}
.editor__navbar ul li {
  width: 10%;
}
.editor__navbar ul li p {
  width: 40%;
  text-align: center;
}
.editor__navbar ul li p:hover {
  cursor: pointer;
  color: #40bee4;
}
.editor__navbar ul li input {
  display: none;
}
.editor__container {
  background-color: rgba(29, 103, 240, 0.534);
  height: 85%;
  width: 95%;
  margin: auto;
}
.editor__container__canvas {
  background-color: white;
  height: 90%;
  width: 90%;
  margin: 2% 5%;
  border: 1px solid #40bee4;
}

@-webkit-keyframes movein {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}

@keyframes movein {
  from {
    top: -100px;
  }
  to {
    top: 0;
  }
}
@-webkit-keyframes moveout {
  from {
    top: 0px;
  }
  to {
    top: -100;
  }
}
@keyframes moveout {
  from {
    top: 0px;
  }
  to {
    top: -100;
  }
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(29, 103, 240, 0.534);
  color: white;
}/*# sourceMappingURL=main.css.map */