
.editor {
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    height: 88vh;
    width: 100%;

    &__navbar {
        background-color: $primary-color-dark;
        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            li {
                width: 10%;
                p {
                    width: 40%;
                    text-align: center;
                    &:hover {
                        cursor: pointer ;
                        color: $accent-color;
                    }
                }

            }
        }
    }
    &__container {
        background-color: $primary-color;
        height: 85%;
        width: 95%;
        margin: auto;

        &__canvas {
            background-color: white;
            height: 90%;
            width: 90%;
            margin: 2% 5%;
            border: 1px solid $accent-color;
            
            
        }

    }
}

@keyframes movein {
    from{
        top:-100px;
    }
    to {
        top:0;
    }
}

@keyframes moveout {
    from{
        top:0px;
    }
    to {
        top:-100;
    }
}