.hero {
  display: flex;
  justify-content: center;
  height: 600px;
  width: 100%;

  &__text {
    margin-top: 12rem;
    font-size: 28px;
    text-align: center;

    h2 {
      font-size: 70px;
      color: black;
    }
  }
}

.middle {
  display: flex;
  margin: 0;
  position: absolute;
  top: 30%;

  button {
    min-width: 300px;
    min-height: 50px;
    font-size: 16px;
  }

  .buttonOne {
    margin-right: 3rem;
  }
}
