.arrowcontainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__icon {
    height: 100px;
    width: 150px;
    margin: 3px auto;
    border-radius: 70px;  
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 100px;
    border: 2px solid #ffffff;
    background-image: linear-gradient(
      to bottom,
      $primary-color,
      50%,
      #ffffff 50%
    );
    background-size: 100% 200%;
    transform: rotate(180deg);
    transition: all 1s;

    &:hover {
      background-position: 0 -100%;
      color: $primary-color;
    }
  }
}
