button {
	border-radius: 30px;
	height: 60px;
	width: 320px;
	background-color: $primary-color-dark;
	color: white;
	font-size: 700;
	text-align: center;
}

button:hover {
	background-color: $primary-color;
	box-shadow: 0 0 10px $primary-color-dark;
	cursor: pointer;
}
